.h_modal {
  min-width: 90% !important;
}
.h_modal .ant-input-group-addon {
  padding: 0 !important;
}
.h_modal .h_formArea {
  padding: 6px;
}
.h_modal .h_formArea .h_title {
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 6px;
}
.h_modal .active:hover {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.1s;
  scale: 1.05;
}
.h_modal .ant-modal-content .ant-modal-body {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
.h_modal .ant-modal-content .ant-modal-body .h_modal_formlist {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 99%;
  padding: 12px 0;
  border-radius: 12px;
}
.h_modal .ant-modal-content .ant-modal-body .h_modal_formlist .ant-form-item {
  margin: 6px !important;
}
.h_modal .ant-modal-content .ant-modal-body .h_modal_formlist .ant-form-item-control {
  max-width: fit-content !important;
}
.h_modal .ant-modal-content .ant-modal-body .h_modal_formlist .ant-form-item-label {
  min-width: 150px !important;
}
.H_Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.block {
  padding: 18px;
}
.filter {
  display: grid;
  min-height: 50px;
  padding: 18px;
}
.filter .ant-form-item {
  margin: 0 !important;
}
.filter .filter_box {
  padding: 12px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: #3d97c159 0px 0px 0px 3px;
}
.filter .filter_box .filter_lay {
  display: flex;
  gap: 12px;
}
.filter .filter_box .filter_lay .filter_field {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  gap: 12px;
}
.filter .filter_box .filter_lay .filter_field .ant-form-item-control {
  min-width: 200px !important;
}
.filter .filter_box .filter_lay .filter_field .ant-form-item-label {
  min-width: 100px !important;
}
.filter .filter_box .filter_lay .query_field {
  display: flex;
  flex: 1;
}
.filter .filter_box .filter_lay .query_field .query_btn {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  gap: 12px;
}
.filter .filter_box .filter_down {
  width: 100%;
  margin-top: 12px;
}
.filter .filter_box .filter_down .down {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 78%;
}
.filter .filter_box .filter_down .down .ant-form-item-control {
  min-width: 200px !important;
}
.filter .filter_box .filter_down .down .ant-form-item-label {
  min-width: 100px !important;
}
.main {
  flex: 1;
  padding: 18px;
  overflow-y: hidden;
}
.main .main_table {
  border-radius: 6px;
  box-shadow: #3d97c159 0px 0px 0px 3px;
}
.footer {
  z-index: 2;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: end;
  height: 50px;
  padding: 0 12px;
  background-color: #fff;
  box-shadow: 0px 12px 10px 10px gray;
}
.footer.carry {
  justify-content: space-between;
}
.footer.carry .carry {
  display: flex;
  flex: 1;
  gap: 12px;
}
.footer.carry .page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}
.footer .page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}
